@model ContactPageVM

<section class="section-box shop-template mt-0">
    <div class="container">
        <div class="box-contact">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h3 class="color-brand-3 mt-60">@Model.Contactpage?.Tittle</h3>
                        <p class="font-sm color-gray-700 mb-30">@Model.Contactpage?.Description</p>
                        <form asp-controller="Home" asp-action="Contact" method="post">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="firstName" placeholder="Ad">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="lastName" placeholder="Soyad">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="tel" name="phone" placeholder="Telefon Numarası">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" placeholder="Mesaj" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <button class="btn btn-buy w-auto" type="submit">@Model.Contactpage?.ButtonTitle</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map">
                        @Html.Raw(Model.Contactpage?.Maps))
                    </div>
                </div>
            </div>
        </div>
        <div class="box-contact-address pt-80 pb-50">
            <div class="row">
                <div class="col-lg-3 mb-30">
                    <h3 class="mb-5">@Model.Contactpage?.StoresTittle</h3>
                    <p class="font-sm color-gray-700 mb-30">@Model.Contactpage?.StoresDescription</p>
                </div>

                @{
                    var stores = Model.Stores.ToList();
                    int colSize = (int)Math.Ceiling(stores.Count / 3.0);
                    var chunks = stores.Chunk(colSize > 0 ? colSize : 1).ToList();
                }

                @foreach (var chunk in chunks)
                {
                    <div class="col-lg-3">
                        @foreach (var store in chunk)
                        {
                            <div class="mb-30">
                                <h4>@store.Title</h4>
                                <p class="font-sm color-gray-700">@store.Address</p>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="box-contact-support pt-80 pb-50 background-gray-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-30 text-center text-lg-start">
                    <h3 class="mb-5">@Model.Contactpage?.BottomTitle</h3>
                    <p class="font-sm color-gray-700">@Model.Contactpage?.BottomDescription</p>
                </div>
                <div class="col-lg-3 text-center mb-30">
                    <div class="box-image mb-20"><img src="@(Model.Contactpage?.BottomChatImagePath)" alt="@(Model.Contactpage?.BottomChatTitle)"></div>
                    <h4 class="mb-5">@Model.Contactpage?.BottomChatTitle</h4>
                    <p class="font-sm color-gray-700 mb-5">@Model.Contactpage?.BottomChatDescription</p><a class="font-sm color-gray-900" href="mailto:@(@Model.Contactpage?.BottomChatMail)">@Model.Contactpage?.BottomChatMail</a>
                </div>
                <div class="col-lg-3 text-center mb-30">
                    <div class="box-image mb-20"><img src="@(Model.Contactpage?.BottomPhoneImagePath)" alt="@(Model.Contactpage?.BottomPhoneTitle)"></div>
                    <h4 class="mb-5">@Model.Contactpage?.BottomPhoneTitle</h4>
                    <p class="font-sm color-gray-700 mb-5">@Model.Contactpage?.BottomPhoneDescription</p><a class="font-sm color-gray-900" href="tel:@(Model.Contactpage?.BottomPhoneNumber)">@Model.Contactpage?.BottomPhoneNumber</a>
                </div>
                <div class="col-lg-3 text-center mb-30">
                    <div class="box-image mb-20"><img src="@(Model.Contactpage?.BottomMapImagePath)" alt="@(Model.Contactpage?.BottomMapTitle)"></div>
                    <h4 class="mb-5">@Model.Contactpage?.BottomMapTitle</h4>
                    <p class="font-sm color-gray-700 mb-5">@Model.Contactpage?.BottomMapDescription</p><span class="font-sm color-gray-900">@Model.Contactpage?.BottomMapAddress</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-90 mb-50">
    <div class="container">
        <ul class="list-col-5">

            @foreach(var item in Model.CardItems)
            {
                <li>
                    <div class="item-list">
                        <div class="icon-left"><img src="@(item.IconImagePath)" alt="@item.Title"></div>
                        <div class="info-right">
                            <h5 class="font-lg-bold color-gray-100">@item.Title</h5>
                            <p class="font-sm color-gray-500">@item.Description</p>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</section>
<section class="section-box box-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-12">
                <h3 class="color-white">@Model.Discount?.Title <span class="color-warning">@Model.Discount?.DiscountCount</span> @Model.Discount?.TitleSpan</h3>
                <p class="font-lg color-white">@Model.Discount?.Description</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="box-form-newsletter mt-15">
                    <form asp-controller="Home" asp-action="Subscribe" method="post">
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />

                        @Html.AntiForgeryToken()
                        <input class="input-newsletter font-xs" name="mailAddress" placeholder="E-posta adresiniz">
                        <button class="btn btn-brand-2" type="submit">@Model.Discount?.SignButton</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>