@model VendorsPageVM

@{
    ViewData["Title"] = "Satıcılar";
}



<section class="section-box shop-template mt-4">
    <div class="container">
        <h2>@Model.VendorPage?.Title</h2>
        <div class="row align-items-center">
            <div class="col-lg-6 mb-30">
                <p class="font-md color-gray-500">@Model.VendorPage?.Description<span class="font-md-bold color-brand-3"> @Model.Vendors.Count()</span><span> @Model.VendorPage?.DescriptionAlt</span></p>
            </div>
        </div>
        <div class="border-bottom pt-0 mb-30"></div>
        <div class="row">
            <div class="col-lg-12 order-first order-lg-last">

                <div class="row mt-20">

                    @foreach(var vendors in Model.Vendors)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="card-vendor">
                                <div class="card-top-vendor">
                                    <div class="card-top-vendor-left">
                                        <img src="@vendors.Img" alt="@vendors.Name">
                                            <div class="rating"><img src="~/assets/imgs/template/icons/star.svg" alt="@vendors.Name"><img src="~/assets/imgs/template/icons/star.svg" alt="@vendors.Name"><img src="~/assets/imgs/template/icons/star.svg" alt="@vendors.Name"><img src="~/assets/imgs/template/icons/star.svg" alt="@vendors.Name"><img src="~/assets/imgs/template/icons/star.svg" alt="@vendors.Name"><span class="font-xs color-gray-500"> @vendors.ReviewCount</span></div>
                                        </div>
                                        <div class="card-top-vendor-right">
                                            <a class="btn btn-gray" href="shop-vendor-single.html">@vendors.ProductCount @vendors.ProductTitle</a>
                                            <p class="font-xs color-gray-500 mt-10">@vendors.YearOfFoundation</p>
                                        </div>
                                    </div>
                                    <div class="card-bottom-vendor">
                                        <p class="font-sm color-gray-500 location mb-10">@vendors.MapAddress</p>
                                        <p class="font-sm color-gray-500 phone">@vendors.PhoneNumber</p>
                                    </div>
                                </div>
                            </div>
                    }     

                </div>
                <nav>
                    <ul class="pagination">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link page-prev" asp-action="Vendors" asp-route-page="@(ViewBag.CurrentPage - 1)"></a></li>
                        }
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item">
                                <a class="page-link @(i == ViewBag.CurrentPage ? "active" : "")" asp-action="Vendors" asp-route-page="@i">@i</a>
                            </li>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <li class="page-item"><a class="page-link page-next" asp-action="Vendors" asp-route-page="@(ViewBag.CurrentPage + 1)"></a></li>
                        }
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
</section>
<section class="section-box mt-90 mb-50">
    <div class="container">
        <ul class="list-col-5">

            @foreach(var item in Model.CardItems)
            {
                <li>
                    <div class="item-list">
                        <div class="icon-left"><img src="@(item.IconImagePath)" alt="@item.Title"></div>
                        <div class="info-right">
                            <h5 class="font-lg-bold color-gray-100">@item.Title</h5>
                            <p class="font-sm color-gray-500">@item.Description</p>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</section>
<section class="section-box box-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-12">
                <h3 class="color-white">@Model.Discount?.Title <span class="color-warning">@Model.Discount?.DiscountCount</span> @Model.Discount?.TitleSpan</h3>
                <p class="font-lg color-white">@Model.Discount?.Description</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="box-form-newsletter mt-15">
                    <form asp-controller="Home" asp-action="Subscribe" method="post">
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />

                        @Html.AntiForgeryToken()
                        <input class="input-newsletter font-xs" name="mailAddress" placeholder="E-posta adresiniz">
                        <button class="btn btn-brand-2" type="submit">@Model.Discount?.SignButton</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

